
/* ArtworkList.css */
.artwork-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.artwork-list h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.artwork-list table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.artwork-list th, .artwork-list td {
  padding: 15px;
  text-align: left;
}

.artwork-list th {
  background-color: #f8f8f8;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

.artwork-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.artwork-list tr:hover {
  background-color: #eaeaea;
}

.artwork-list a {
  color: #007bff;
  text-decoration: none;
}

.artwork-list a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .artwork-list th, .artwork-list td {
    padding: 10px;
  }

  .artwork-list h1 {
    font-size: 20px;
  }
}
.artwork-title {
  margin-right: 20px;
}

.artwork-list {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.pagination button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
.search-bar {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: auto;
  margin-bottom: 10px;
}

/* ArtworkDetails.css */
.artwork-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.artwork-details-card {
  background-color: #f8f8f8;;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px; /* Adjust width as needed */
}

.artwork-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

